apache-libcloud==3.3.0
astroid==2.4.2
attrs==20.3.0
autopep8==1.5.4
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
idna==2.10
iniconfig==1.1.1
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
netaddr==0.8.0
packaging==20.8
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
pylint==2.6.0
pyparsing==2.4.7
pytest==6.2.1
requests==2.25.1
six==1.15.0
toml==0.10.2
urllib3==1.26.2
wrapt==1.12.1
