apache-libcloud==3.3.1
attrs==21.2.0
autopep8==1.5.6
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
idna==2.10
iniconfig==1.1.1
netaddr==0.8.0
packaging==21.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.2.4
requests==2.25.1
toml==0.10.2
urllib3==1.26.6
